{% extends "frontend/main_layout.html.twig" %}

{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block container %}

    <!-- Mid Container -->
    <div class="inner_content">
        <div class="wrap">

            <div class="inner_form">

                <form action="{{ path('password_recovery') }}" method="post">

                    <div class="inner_form_bot">


                        <div class="main_form">
                            <div style="margin-bottom: 24px">
                                <p>
                                    לשחזור סיסמה יש להזין את כתובת האימייל או מספר טלפון הנייד עמו נרשמת לזיגזוג
                                    <br>שימו לב: במקרים רבים המייל מגיע ישירות לתיקיית ספאם, יש לבדוק.
                                </p>
                            </div>

                            {% if form.email.vars.errors|length %}
                                <div class="errors">
                                    <div class="ui red tiny message">
                                        <div class="content">
                                            <div class="header">
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                            {% endif %}

                            {% if success %}
                                <div class="ui olive tiny message">
                                    <div class="content">
                                        <div class="header">
                                            {% trans %}הסיסמה נשלחה בהצלחה{% endtrans %}

                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="mfrm_field cf">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="div4 submit-btn" style="padding: 0px;">
                                <a href="#" id="send_password">{% trans %}שלח לי סיסמה{% endtrans %}</a>
                            </div>

                            {{ form_rest(form) }}

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>



{% endblock %}





